body{
    margin:0;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

.calc_screen_container{
    height:40%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    background-color:rgb(0,0,0,0.9);
}

.button_section{
    display:flex;
    height:60%;
    flex-wrap: wrap;
    flex-direction: row;
}

* {
    box-sizing: border-box;
    margin: 0;
}

button{
    background-color:rgba(0,0,0,1.0);
    font-size:8vh;
    color:white;
    border:0;
    width:25%;
}
.key_equal{
    width:50%;
}

button:active{
    background-color: darkgrey;
    color:tomato;
    font-weight: bold;
}

input{
    border:0;
    width:100%;
    font-size:20vh;
    text-align:right;
    outline:none;
    background-color:transparent;
    color:white;
}

#result{
    font-size:10vh;
    color:white;
}

